*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    margin: auto; 
    width: 100%;
    height: 100vh; 
}

#menu_toggle {
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 40px;
    margin-left: 10px;
  }
#menu_toggle a{
    text-decoration: none;
    color: rgb(18, 18, 17);
    transition: color 0.3s ease;
    padding: 5px;
}
#menu_toggle input{
    position: absolute;
    width: 40px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    
}
#menu_toggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: rgb(246, 181, 4);
    border-radius: 3px;
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),opacity 0.55 ease;
    transform-origin: 4px 0;
}

#menu_toggle span:first-child{
    transform-origin: 0% 0%;
}
#menu_toggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}
#menu_toggle input:checked ~ span{
    opacity: 1;
    transform   : rotate(45deg) translate(-2px, -1px);
}
#menu_toggle input:checked ~ span:nth-last-child(3){
    opacity:0;
    transform: rotate(0deg) scale(0.2,0.2);
}
#menu_toggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
    }
#menu{
    position: absolute;
    left: -300px;
    top: 100px;
    width: 200px;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 150;
    background: rgb(138, 136, 131);
    color: black;
    list-style-type: none;
    transition: left 0.5s;
}
#menu li {
    padding: 10px 0;
    font-size: 20px;
  }
#menu_toggle input:checked ~ ul {
    left:40px;
  }

a{
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    color: white;
}
.toolbar ul li a{
    margin-right: 20px;
    justify-content: center;
    padding: 10px;

}
.mylogo a{
    margin-top: 20px;
}

.toolbar ul li{
    list-style-type: none;
    display: inline; 
}

.toolbar ul{
    display: inline-block;
}
.toolbar{
    margin-left: 20rem;
    
}
.main_project{
    background-color: orange;
    border-radius: 10px;
    color: black;
}
.simran{
    margin-top: 20px;
    font-size: 15px;
    border-radius: 5px;
}
.mylogo a:hover, .mylogo a:active{
    color: rgb(201, 148, 50);
    
}
.toolbar a:hover, a:active{
    background-color: rgb(255, 199, 69);
    color: black;
    border-radius: 8px;
    transition: .5s ease-out;
}

.proxy{
    padding: 15px 5%;
    padding-bottom: 100px;
    
}
.proxy .heading{
    text-align: center;
    padding-bottom: 16px;
    color: rgb(253, 139, 0);
    text-shadow: 0 5px 15px #f5f3f1;
    font-size: 50px;
}
.proxy .proxy_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
}
.proxy .proxy_container .proxy-items{
    box-shadow: 0 5px 10px #fff;
    border-radius: 10px;
    background-color: rgb(253, 139, 0);
    text-align: left;
    padding: 30px 20px;
}
.proxy .proxy_container .proxy-items:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0,.3);
    transform: scale(1.02);
}
h1{
    font-size: 30px;
}
 h4{
    color: rgb(9, 9, 9);
    font-size: 17px;
}

.project-placeholder{
    border-radius: 15px 50px;
    background-color: rgb(14, 14, 13);
    width: 200px;
    height: 150px;
    margin-left: 30px;
    box-shadow: 0 5px 15px rgb(245, 164, 43);
}

.proxy-items a{
    font-size: 30px;
    font-weight: 600;
    color: black;
    
}
.proxy-items a:hover{
    color: rgb(244, 243, 241);
}
.proxy-container  a:hover{
    background-color: burlywood;
    color: black;
    border-radius: 8px;
    transition: .3s;
}
.project-placeholder:hover{
    cursor: pointer;
    transition: .3s;
    background-color: rgb(243, 238, 193);
    text-align: center ;
    font-size: 25px;

}

 @media (min-width:770px) {
    #menu_toggle,
    .toggle_bar{
        display: none;
    }    
} 
@media (max-width: 768px) {
    body{
            overflow: hidden;
            background-color: black;
            background-repeat: no-repeat;
            background-size: 250% auto;
            background-position-y: 20rem;
        }
    .toolbar{
            display: none;
        }
    .menu-icon {
        display: block;
    }
    
    .simran{
        font-size: 20px;
    } 
} 