*{
    margin: 0;
    padding: 0;
    background-color: rgb(12, 13, 15)
}
body{
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto; 
    width: 100%
}
header{
   display: flex;
   justify-content: space-between;
   width: 100%
}

header a{
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    color: rgb(245, 242, 242);

}

ul li a{
    margin-right: 20px;
    justify-content: center;
    padding: 10px;
}
.mylogo a{
    margin-top: 20px;
}
ul li{
    list-style-type: none;
    display: inline;  
}

ul{
    display: inline-block;
}
.toolbar{
    margin-left: 20rem;
}
.main_project{
    background-color: orange;
    border-radius: 10px;
    color: black;
}
.simran{
    margin-top: 20px;
    font-size: 15px;
    border-radius: 5px;
}
.mylogo a:hover, .mylogo a:active{
    color:rgb(201, 148, 50);
} 
div img{
    width: 30%;
    height: auto;
}
.information h2, h3{
    color: white;
    font-size: 50px;
}
.information  h3{
    color: white;
    font-size: 25px;
}
.information{
    position: relative;
    margin-left: 700px;
    margin-top: 150px;
    font-size: 50px;
}
.information h1{
    padding-right: 30px;
    color: wheat;
    display: flex;
    flex-direction: col;
    font-size: 70px;
}

.toolbar a:hover, a:active{
    background-color: rgb(255, 199, 69);
    color: black;
    border-radius: 8px;
    transition: .5s;
}
    
h4{
    color: rgb(251, 249, 245);
    font-size: 17px;
}

.proxy-container{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    margin-top: 60px;
    gap:20px 30px ;   
}

.project-placeholder-img{
    border-radius: 15px 50px;
    background-color: rgb(248, 153, 10);
    width: 200px;
    height: 150px;
    margin-left: 30px;
    box-shadow: 0 0 20px 0 rgb(245, 164, 43);
    
}
.project-placeholder-img1{
    border-radius: 15px 50px;
    background-color: rgb(248, 153, 10);
    width: 200px;
    height: 150px;
    margin-right: 30px;
    box-shadow: 0 0 20px 0 rgb(245, 164, 43);
    
}
.proxy-items1{
    margin-left: 20px;
    margin-right: 300px;
    display: grid;
    grid-template-rows: 30px;
}
.proxy-items2{
    margin-left: 20px;
    margin-right: 30px;
    display: grid;
    grid-template-rows: 30px;
}
.proxy-items2  a{
    text-decoration: none;
    font-size: 25px;
    color: wheat;

}
.proxy-items1  a{
    text-decoration: none;
    font-size: 25px;
    color: wheat;
}

.proxy-container  a:hover{
    background-color: burlywood;
    color: black;
    border-radius: 8px;
    transition: .3s;
}
.project-placeholder-img:hover{
    cursor: pointer;
    transition: .3s;
    background-color: rgb(248, 180, 79);
}
.project-placeholder-img1:hover{
    cursor: pointer;
    transition: .3s;
    background-color: rgb(248, 180, 79);

}
