*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    overflow: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    height: 100vh; 
    width: 100%
    
}
.slide{
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: rgb(33, 33, 26);
    transition: 0.5s ease;
    cursor: pointer;
    transform: translateX(-180px);
}
.top{
    color: rgb(235, 146, 36);
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}
.menu_bar ul li{
    list-style: none;
    
}
.menu_bar ul li a{
    color: antiquewhite;
    font-weight: 500;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 0;
    display: block;
    text-transform: capitalize;
    transition: 0.2s ease-out;
    
}

.menu_bar ul li  :hover{
    background-color: bisque;
    color: black;
    transition: .3s ease-out;
}
input{
    display: none;
    visibility: hidden;
}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 30px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(17, 15, 13);
    box-shadow: 0 0 10px rgb(186, 112, 0);
}
.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: rgb(255, 122, 5);
    border-radius: 50px;
    transition: .3s ease;
    appearance: none;
}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input:checked ~.toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translateX(20px);
}
input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px black;
}

a{
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    color: white;
}

.toolbar ul li a{
    margin-right: 20px;
    justify-content: center;
    padding: 10px;
}

.mylogo a{
    margin-top: 20px;
}

.toolbar ul li{
    list-style-type: none;
    display: inline; 
    z-index: 1000;
}

.toolbar ul{
    display: inline-block;
}
.toolbar{
    margin-left: 20rem;
}
.main_project{
    background-color: orange;
    border-radius: 10px;
    color: black;
}
.simran{
    margin-top: 20px;
    font-size: 15px;
    border-radius: 5px;
}
.mylogo a:hover, .mylogo a:active{
    color: rgb(201, 148, 50);
    
}
.toolbar a:hover, a:active{
    background-color: rgb(255, 199, 69);
    color: black;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.content{
    padding: 15px 5%;
    padding-bottom: 100px;
}
.content .heading{
    text-align: center;
    padding-bottom: 16px;
    color: rgb(237, 236, 235);
    text-shadow: 0 4px 5px #f8b573;
    font-size: 50px;
}
.content .content_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
}
.content .content_container .content_items{
    box-shadow: 0 5px 10px #fff;
    border-radius: 10px;
    background-color: rgb(249, 162, 31);
    text-align: left;
    padding: 30px 20px;
}
.content .content_container .content_items img{
    height: 100px;
    border-radius: 50%;
}
h3{
    font-size: 22px;
    padding: 10px 0;
}
p{
    line-height: 1.5;
}
.content .content_container .content_items .btn{
    margin-top: 10px;
    display: inline-block;
    background: #333;
    font-size: 20px;
    border-radius: 5px;
    padding: 8px 10px;
}
.content .content_container .content_items .btn:hover{
    color: chocolate;
    background-color: wheat;
}
.content .content_container .content_items:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0,.3);
    transform: scale(1.02);
}
.content .content_container .content_items .botton1{
    word-spacing: 1.8px;
    margin-top: 10px;
    display: inline-block;
    background: #333;
    font-size: 20px;
    border-radius: 5px;
    padding: 8px 10px;
}
.content .content_container .content_items .botton1:hover{
    color: chocolate;
    background-color: wheat;
}


 @media (min-width:770px) {
    #menu_toggle,
    .toggle_bar{
        display: none;
    } 

}
@media (max-width: 768px) {
    body{
        overflow: hidden;
        background-color: black;
        background-repeat: no-repeat;
        background-size: 250% auto;
        background-position-y: 20rem;
    }
    .toolbar{
        display: none;
    }
    .content{
        padding: 20px;
    }
    
    } 
