*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    /* overflow: hidden; */
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    height: 100vh; 
    width: 100%
}
#menu_toggle {
    z-index: 1;
    user-select: none;
    user-select: none;
    margin-top: 40px;
    margin-left: 10px;
  }
#menu_toggle a{
    text-decoration: none;
    color: rgb(241, 241, 233);
    transition: color 0.3s ease;
    padding: 5px;
}
#menu_toggle input{
    position: absolute;
    width: 40px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    
}
#menu_toggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: rgb(246, 181, 4);
    border-radius: 3px;
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    opacity: 0.55 ;
    transform-origin: 4px 0;
}

#menu_toggle span:first-child{
    transform-origin: 0% 0%;
}
#menu_toggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}
#menu_toggle input:checked ~ span{
    opacity: 1;
    transform   : rotate(45deg) translate(-2px, -1px);
}
#menu_toggle input:checked ~ span:nth-last-child(3){
    opacity:0;
    transform: rotate(0deg) scale(0.2,0.2);
}
#menu_toggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
    }
#menu{
    position: absolute;
    left: -300px;
    top: 100px;
    width: 200px;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 50px;
    background: rgb(12, 12, 12);
    list-style-type: none;
    transition: left 0.5s;
}
#menu li {
    padding: 10px 0;
    font-size: 20px;
  }
#menu_toggle input:checked ~ ul {
    left:40px;
  }

a{
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    color: white;
}

.toolbar ul li a{
    margin-right: 20px;
    justify-content: center;
    padding: 10px;

}
.mylogo a{
    margin-top: 20px;
}

.toolbar ul li{
    list-style-type: none;
    display: inline; 
}

.toolbar ul{
    display: inline-block;
}
.toolbar{
    margin-left: 20rem;
}
.main_project{
    background-color: orange;
    border-radius: 10px;
    color: black;
}
.simran{
    margin-top: 20px;
    font-size: 15px;
    border-radius: 5px;
}
.mylogo a:hover, .mylogo a:active{
    color: rgb(201, 148, 50);
    
}
.toolbar a:hover, a:active{
    background-color: rgb(255, 199, 69);
    color: black;
    border-radius: 8px;
    transition: .5s;
}
.html_images{
    margin-top: 50px;
    margin-left: 10%;
    padding: 10px;
}
.css_images{
    margin-top: 50px;
    margin-left: 10%;
    padding: 10px;
}
.box{
   display: block;
  
   width: 20%;
   padding: 10px ;
   padding-right: 10px;
   
}
img{
    width: 120%;
    height: 150%;
    margin: 20px;
}
img:hover{
    transform: scale(2);
    transition: .3s ease-in-out;
}

h2{
    color: rgb(224, 123, 52);
    font-size: 40px;
}
.botton{
    display: inline-block;
   margin-left: 50%;
    word-spacing: 1.8px;
    background: #db841a;
    font-size: 20px;
    border-radius: 5px;
    padding: 8px 10px;
}
.info{
    color: wheat;
    text-align: right;
}
.botton:hover{
    color: rgb(28, 26, 25);
    background-color: rgb(230, 194, 126);
}

@media (min-width:770px) {
    #menu_toggle,
    .toggle_bar{
        display: none;
    }  

}
@media (max-width: 768px) {
    body{
        overflow: hidden;
        background-color: black;
        background-repeat: no-repeat;
        background-size: 250% auto;
        background-position-y: 20rem;
    }
    .toolbar{
        display: none;
    }
    .menu_bar ul li a:hover {
        background-color: rgb(240, 190, 129);
        color: black;
        transition: .3s ease-out; 
        border-radius: 10px;
    }
    .menu_bar ul li a{
    color: antiquewhite;
    font-weight: 500;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px 0;
    top: 30px;
    display: block;
    text-transform: capitalize;
    transition: 0.2s ease-out;
}
    
    } 
